/* login.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-image: url(login11.jpg); 
    background-size: cover;
    background-position: center; /* Set body background to transparent */
}

.box {
    background-color: rgba(244, 243, 243, 0.8); /* Use RGBA for transparent background */
    width: 400px;
    margin: 100px auto;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.inputBox {
    position: relative;
    margin-bottom: 30px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
    background: transparent;
}

.inputBox span {
    position: absolute;
    left: 0;
    bottom: 5px;
    font-size: 16px;
    pointer-events: none;
    transition: 0.3s;
}

.inputBox input:focus + span,
.inputBox input:valid + span {
    transform: translateY(-20px);
    font-size: 12px;
    color: #00bcd4;
}

.links {
    margin-top: 20px;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
    transition: 0.3s;
}

.links a:hover {
    color: #00bcd4;
}

input[type="submit"] {
    background-color: #00bcd4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    position: center ;
}

input[type="submit"]:hover {
    background-color: #01939a;
}