<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    
    <div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
            <div class = "shadow">
              <div class = "about-img">
                <img src = "/static/about2.jpg" alt = "stress">
              </div>
            </div>

            <h2>Students<br>Stress</h2>
            <h3>managing</h3>
          </div>
        </div>
    </div>

    <div class = "about-right">
        <h1>About<span>!</span></h1>
        <h2>Here's what we did..</h2>
        
    <div class = "about-para">
        <p>In various parts of the nation, a student commits suicide once per hour.<br>According to a 2021 Lacent research, India has documented a significant no.of suicides among young people between the ages of 15-29.</p>
        <p>This project focuses on the development of a mental stress dection system using <h5>machine learning, specifically the Decision Tree Classifier.</h5></p>
        <p>The dataset used in this research was collected from kaggle and remodified that data,which was use for us.</p>
        <p>Participants were asked a series of questions pertaining to their emotional state and reactions in various situations they may have encountered.</p>
        <p>These answers were assigned weight to calculate a stress score, enabling a comprehensive analysis of individuals stress levels.</p>
    </div>


</body>
</html>